html {
    margin-bottom: 0;
    height:100%;
    background-color: #7c67f9;
}

body {
    height: 100%;
    margin-top:0;
    margin-bottom: 0;
    display: grid;
    grid-template-columns: 320px 1fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
}

.startRunning {
    background-color: greenyellow;
}

#restartGame {
    background-color: #ce5353;
    visibility: hidden;
    grid-row: 1/2;
    grid-column: 2/3;
}

#startGame {
    background-color: #4f6e5a;
    grid-row: 1/2;
    grid-column: 2/3;
}

.container {
    display:grid;
    justify-content: start;
    margin-left: 20px;
    grid-column: 2/3;
    grid-template-rows: 1fr 30px;
}

.gameBttns {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#showUsernames {
    grid-column: 1/2;
    grid-row: 1/2;
    background-color: #bd9f8d;
}

.board {
    grid-row: 1/2;
    background-color: #000;
    table-layout: fixed;
}

.board td {
    background-color: antiquewhite;
    padding:50px;
    width: 13px;
    height: 20px;
}

.modalContainer {
    visibility:hidden;
    grid-row: 1/2;
    grid-column: 1/2;
}

.showModal {
    visibility: visible;
}

.modal {
    padding-top: 20px;
    padding-bottom: 40%;
    background-color: #8bcabe;
    justify-self: center;
    display: grid;
    grid-template-columns: 30px 330px;
    grid-template-rows: 60px 50px 50px 50px;
    border: 2px solid #7c67f9;
    border-radius: 5px;
}

.playerDisplay{
    border:2px solid whitesmoke;
    background-color: #8bcabe;
    border-radius: 5px;
}

.usernameBttns {
    grid-row: 4/5;
    grid-column: 2/3; 
    display: grid;
    grid-template-columns: 104px 104px;
    height: 55%;
    align-self: center;
}

.usernameHeader {
    grid-row: 1/2;
    grid-column: 2/3;
    font-size: 16pt;
    font-weight: 600;
}

#playerOneName {
    grid-row:2/3;
    grid-column: 2/3;
    width: 75%;
    height: 50%;
    align-self: center;
}

#playerTwoName {
    grid-row: 3/4;
    grid-column: 2/3;
    width: 75%;
    height: 50%;
    align-self: center;
}

#oneLabel {
    grid-row: 2/3;
    grid-column: 1/2;
    justify-self: center;
    align-self: center;
}

#twoLabel {
    grid-row: 3/4;
    grid-column: 1/2;
    justify-self: center;
    align-self: center;
}