html {
    margin-bottom: 0;
    height:100%;
}

body {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    align-items: center;
}

.container {
    display:grid;
    justify-content: center;
}

.board {
    background-color: #000;
    table-layout: fixed;
}

.board td {
    background-color: antiquewhite;
    padding:40px;
    width: 12px;
    height: 20px;
}